.footer {
    background-color: var(--footer-bg);
    color: #bbb;
    padding: 4rem 0 2rem;
    font-size: 0.9rem;
    margin-top: 3rem;
}
.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.footer h3, .footer h4 {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.footer a:hover {
    color: white;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons a {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.8rem;
}
.social-icons a:hover {
   opacity: 0.7;
}
.social-icons a i{
    font-size: 18px;
}

.footer-bottom {
    text-align: center;
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 2px solid #444;
    font-size: 0.8rem;
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2rem;
}


@media (min-width: 1024px) {
    .footer-grid {
        grid-template-columns: 250px 1fr; 
        align-items: start;
    }
    
    .footer-links {
        grid-template-columns: repeat(5, 1fr);
    }
}