.header {
    background-color: var(--bg-light);
    padding: 1rem 0;
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    z-index: 1000;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    margin: 0;
    max-width: 100%;
    padding-right: 3%;
}

.header-logo img {
    height: 50px; 
}


.header-nav {
    display: none; /*  colocar hamburger */
    width: 100%;
    order: 3;
    padding-top: 1rem;
}

.header-nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.desktop-only {
    display: none; 
}

.header-icons {
    display: flex;
    gap: 15px;
}

.header-icons img {
    width: 20px;
    height: 20px; 
}


@media (min-width: 768px) {
    .header-nav {
        display: block;
        width: auto;
        order: unset;
        padding-top: 0;
    }

    .header-nav ul {
        flex-direction: row;
        gap: 2rem;
    }
    .header-nav ul li{
    font-size: 1.2rem;
    font-weight: bold;
}

    .header-nav a {
        font-weight: 500;
        color: #555;
    }

    .header-nav a:hover {
        color: var(--primary-color);
    }

    .desktop-only {
        display: none;
    }
    .desktop-only:hover{
        color: var(--primary-color);
    }
    .header-icons{
        display: flex;
        gap: 40px;
    }
    .header-icons a img{
        width: 100%;
    }
}
@media (min-width: 1024px){
    .desktop-only {
    display: inline-block;
        font-size: 1.2rem;
        color: #777;
        padding-right: 30px;
}
}