.hero {
    position: relative;
    width: 95%;
    height: 500px;
    margin: 25px auto 0;
    overflow: hidden;
    border-radius: 20px;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.hero-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem;
    color: var(--text-light);
    max-width: 100%;
}


.hero-subtitle {
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.hero h2 {
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}
.hero-buttons a{
    font-size: 1rem;
}


@media (min-width: 1024px) {
    .hero {
        height: 600px;
    }

    .hero-content {
        margin:0  10%;
        padding: 0 0 0 40%;
        text-align: center;
        align-items: center;
    }

    .hero h2 {
        font-size: 2rem;
    }
}