.hero {
    position: relative;
    width: 95%;
    height: 500px;
    margin: 25px auto 0;
    overflow: hidden;
    border-radius: 20px;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
.hero-principal {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-light);
    max-width: 100%;
}


.hero-subtitle {
    font-size: 1.1rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    font-weight: 500;
}

.hero h2 {
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.25rem;
    max-width: 500px;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}
.hero-buttons a{
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .hero {
        height: 600px;
    }
    .hero-principal{
        right: 0;
    }

    .hero h2 {
        font-size: 2rem;
    }
}