.category-card img {
   height: 100%;
   width: 100%;
    object-fit: cover;
    aspect-ratio: 3/4;
}

.carrosel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 2.5%;
}

.category-card {
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 500px;
    max-width: 400px;
}

.category-card:hover {
    transform: scale(1.02);
}

.category-btn {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-size: 0.9rem;
    text-transform: uppercase;
    white-space: nowrap;
    backdrop-filter: blur(5px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
}

.category-card:hover .category-btn {
    background: white;
    color: black;
}