.grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1.5rem;
    padding: 0 var(--container-padding);
}
.bento-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 200px);
    gap: 1rem;
    padding: 0 var(--container-padding);
}
.hero-item{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.gallery-item:nth-child(3) {
        grid-column:1 / 3 ;
        grid-row: 3 / 3 ;
    }
.item-tall{
        grid-column: 1 / 1;
        grid-row:  4 / 6;
    }
.item-wide{
    grid-row: 6 / 6;
    grid-column: 1 / 3;
}

@media (min-width: 768px) { 
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-content.centered{
        padding: 0;
        gap: 10px;
    }
    .hero-subtitle{
        margin: 0;
}
/* .bento-grid article img{
  tentar arrumar as fotos
} */

}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 3%;
    }

    .bento-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 320px 320px 320px; 
        max-width: 90%;
        margin: 0 auto;
        padding: 0;
    }



    .hero-item {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        min-height: 300px;
    }
    .item-wide {
        grid-column: 3 / 5 ; 
        grid-row: 1 / 1;    
    }

    .gallery-item:nth-child(3) {
        grid-column: 1/ 3 ;
        grid-row: 3 / 4;
    }

    .item-tall {
        grid-column: 3 / 3;
        grid-row: 2 / 4; 
    }
    .item-tall img { height: 100%; }
}